<a href="https://colab.research.google.com/github/sanhiitaa/salary-prediction/blob/main/salary_prediction_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
# loading the data
df=pd.read_csv('/content/drive/MyDrive/datasets/Salary Prediction of Data Professions.csv')
df.head()

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21.0,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,NaN,F,NaN,01-07-2016,Associate,NaN,89207,Web,NaN,13.0,NaN,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21.0,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22.0,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,NaN,43161,Operations,27.0,3.0,NaN,3

In [69]:
df.shape

(2639, 13)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2639 entries, 0 to 2638
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FIRST NAME        2639 non-null   object
 1   LAST NAME         2637 non-null   object
 2   SEX               2639 non-null   object
 3   DOJ               2638 non-null   object
 4   CURRENT DATE      2639 non-null   object
 5   DESIGNATION       2639 non-null   object
 6   AGE               2636 non-null   float64
 7   SALARY            2639 non-null   int64
 8   UNIT              2639 non-null   object
 9   LEAVES USED       2636 non-null   float64
 10  LEAVES REMAINING  2637 non-null   float64
 11  RATINGS           2637 non-null   float64
 12  PAST EXP          2639 non-null   int64
dtypes: float64(4), int64(2), object(7)
memory usage: 268.1+ KB

13 columns in total, there are null values in some columns, 4 features with float values, 2 with integer values and 7 with categorical type values.

In [71]:
# duplicated values
df.duplicated().sum()

161

In [72]:
# dropping duplicates
df=df.drop_duplicates()

In [73]:
# checking for null values
df.isnull().sum()

FIRST NAME          0
LAST NAME           2
SEX                 0
DOJ                 1
CURRENT DATE        0
DESIGNATION         0
AGE                 3
SALARY              0
UNIT                0
LEAVES USED         3
LEAVES REMAINING    2
RATINGS             2
PAST EXP            0
dtype: int64

# data preprocessing

In [74]:
# imputing below columns with mode
cols_mode=['DOJ', 'AGE', 'RATINGS']
for col in cols_mode:
  df[col]=df[col].fillna(df[col].mode()[0])

In [75]:
# imputing below columns with median
cols_median=['LEAVES USED', 'LEAVES REMAINING']
for col in cols_median:
  df[col]=df[col].fillna(df[col].median())

In [76]:
# dropping columns insignificant for analysis
cols_drop=['FIRST NAME', 'LAST NAME']
df=df.drop(columns=cols_drop)

In [59]:
df.isnull().sum()

SEX                 0
DOJ                 0
CURRENT DATE        0
DESIGNATION         0
AGE                 0
SALARY              0
UNIT                0
LEAVES USED         0
LEAVES REMAINING    0
RATINGS             0
PAST EXP            0
dtype: int64

# feature engineering

In [77]:
# converting date columns to datetime datatype
cols_date=['DOJ', 'CURRENT DATE']
for col in cols_date:
  df[col]=pd.to_datetime(df[col])

In [82]:
# making a new feature: years_experience
df['years_experience']=df['CURRENT DATE'].dt.year-df['DOJ'].dt.year

In [84]:
# dropping date columns
df.drop(columns=cols_date, inplace=True)

In [88]:
df.sample(20)

,SEX,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP,years_experience
2466,F,Analyst,25.0,44039,IT,25.0,5.0,4.0,3,2
207,F,Analyst,24.0,43137,IT,27.0,3.0,2.0,2,2
1860,M,Analyst,21.0,45522,Marketing,23.0,7.0,2.0,0,3
881,F,Analyst,24.0,43461,IT,20.0,10.0,5.0,1,2
2214,M,Analyst,23.0,42012,IT,30.0,0.0,5.0,0,2
891,M,Analyst,24.0,49908,Web,24.0,6.0,4.0,1,2
1271,M,Analyst,21.0,48995,Management,26.0,4.0,3.0,0,2
274,F,Analyst,24.0,49110,IT,25.0,5.0,2.0,1,3
303,F,Analyst,21.0,41908,Operations,18.0,12.0,5.0,0,2
2583,M,Analyst,23.0,49322,Web,23.0,7.0,4.0,0,2
554,F,Analyst,21.0,43986,IT,18.0,12.0,3.0,0,3
861,F,Analyst,24.0,41609,Management,21.0,9.0,2.0,2,2
481,M,Manager,35.0,111599,Management,25.0,5.0,5.0,10,4
2060,F,Analyst,24.0,49822,Operations,18.0,12.0,3.0,1,2
1772,F,Senior Manager,36.0,195984,Management,17.0,13.0,4.0,10,4
1331,F,Analyst,22.0,46261,Marketing,21.0,9.0,5.0,0,3
423,M,Analyst,22.0,42121,Finance,30.0,0.0,5.0,0,3
1421,M,Analyst,25.0,48823,Finance,26.0,4.0,3.0,2,3
1052,M,Analyst,23.0,42481,IT,30.0,0.0,2.0,0,3
106,F,Manager,33.0,108665,Finance,15.0,15.0,2.0,6,5

In [90]:
df.to_csv('salary_data_cleaned.csv', index=False)